* {
    font-family: 'Permanent Marker', cursive;
    color: hsla(0, 0%, 100%, 1);
}
:root{
    --backblack: hsla(0, 0%, 0%, .25);
    --backblackheavy: hsla(0, 0%, 0%, .40);
}
body{ 
    padding-bottom: 3.25em;
}
/* Hero Image */
.logo {
    text-shadow: 2px 2px 5px hsla(130, 100%, 50%, 1);
    font-size: 2.25em;
    text-align: center;
    padding: 32px;
}
.logo a{
    text-decoration: none;
}
/* mobile stuff to hide */
.mobile-container{ 
    display: none;
}
.nav{ /* mobile home page */
    display: none;
} /* end mobile home page */
.subheader{ /* SUBHEADER */
    display: none;
}
#ropg{ /* mobile store page */
    display: none;
}
.highlight {
    display: none;
}
.descrip {
    display: none;
}
.products-footer{
    display: none;
} /* end mobile store page */
.mobile-embed-container{
    display: none;
}
.homebutton{
    display: none;
}
/* this stuff is the background */
.container{
    height: 100%;
    width: auto;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}
.container div{
    position: absolute;
    border-radius: 50%;
    animation: gradient 4s infinite;
}
@keyframes gradient{
    70%{
       transform: scale(1.2) translate(50px);
    }
}
.container div:nth-child(1){
    height: 80%;
    width: 80%;
    background-color: #1A1B41;
    left: -10%;
    top: -30%;
}
.container div:nth-child(2){
    height: 100%;
    width: 100%;
    background-color: #392636;
    top: -30%;
    right: -40%;
    animation-delay: 2s;
}
.container div:nth-child(5){
    height: 70%;
    width: 80%;
    background-color: #0353A4;
    bottom: -15%;
    right: -20%;
    animation-delay: 0.3s;
}
.container div:nth-child(4){
    height: 60%;
    width: 62%;
    background-color: #631D76;
    bottom: -20%;
    left: -12%;
    animation-delay: 1.2s;
}
.container div:nth-child(3){
    height: 80%;
    width: 70%;
    background-color: #21295C;
    top: 10%;
    left: -15%;
    animation-delay: 1.5s;
}
.container:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(150px);
}

/* Navigation Header */
.nav-items {
    list-style-type: none;
    text-align: center;
    padding-bottom: 32px;
}
.nav-items li {
    display: inline-block;    
    padding: 0px 4vw;
    font-size: 1.5em;
}
.nav-items li a {
    text-decoration: none;
}
.nav-items li a:hover {
    text-shadow: 2px 2px 5px hsla(130, 100%, 50%, 1);
}
.nav-items li a:active { /* the link you click will flash green for a moment before loading */
    color:hsla(130, 100%, 50%, 1);
}
#active{ /* which page you are actually on will be lit in green */
    color:hsla(130, 100%, 50%, 1);
}

/* footer */
.tmt-foot{
    font-size: 2em;
    text-align: center;
    position: relative;
    padding-top: 16px;
}
.tmt-foot a{
    padding-left: 8px;
}
#twitter{
    padding-left: 4px;
}

/* Home Page / index.html */
.home-container { /* the container */
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 46.875%;
    height: auto;
    margin-bottom: 7em;
}
.home-container img{ /* roguePG image */
    width: 100%;
    height: auto;
}
.top{
    position: absolute;
    top: 0%;
    background-color: var(--backblackheavy);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.25em;
}
.bottomleft { /* link to steam */
    position: absolute;
    bottom: .5em;
    left: .5em;
    background-color: var(--backblack);
    font-size: 1.25em;
    padding: 1% 4%;
}
.bottomleft a{
    text-decoration: none;
}
.bottomleft:hover{text-shadow: 2px 2px 5px hsla(130, 100%, 50%, 1);}
.bottomleft:active{color:hsla(130, 100%, 50%, 1);}
.bottomright{ /* price */
    position: absolute;
    bottom: .5em;;
    right: .5em;;
    background-color: var(--backblack);
    font-size: 1.25em;
    padding: 1% 4%;
}

/* Shop / Store page */
.left-grid-container{
    display: inline-grid;
    margin-left: 10%;
    width: 48%;
    padding-bottom: 20px;
}
.right-grid-container{
    float: right;
    margin-right: 10%;
    width: 30%;
    padding-bottom: 100px;
}

.rpg-item{/* featured container */
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.rpg-item img{/* roguepg image */
    width: 100%;
    height: auto;
}
.subheading{/* used for the subtitles Reviews and System Requirements on Store page */
    background-color: var(--backblackheavy);
    margin-top: .75em;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.25em;
    text-align: center;
}
.description{
    background-color: var(--backblackheavy);
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.25em;
    text-align: center;
}
.left-item{
    background-color: HSLA(0, 0%, 0%, .10)
}
.left-item h1{
    font: 1.25em 'Outfit', sans-serif;
    margin-left: .8em;
}
.left-item small{
    font: .625em 'Outfit', sans-serif;
    font-weight: 100;
    float: right;
    margin-top: -2.75em;
    margin-right: 2.4em;
}
.left-item p{
    font: .75em 'Outfit', sans-serif;
    font-weight: 300;
    margin: 0em 2em;
}
.left-item:nth-child(7){
  padding-bottom: 20px;
}

.right-item p{
    font: 1em 'Outfit', sans-serif;
    font-weight: 300;
    margin: .75em 1em;
}
.greentxt{
    font: 1em 'Outfit', sans-serif;
    color: HSLA(130, 100%, 50%, 1);
    margin-left: 1em;
    margin-bottom: -.75em;
}

/* Blog page */
.embed-container{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 610px;
    overflow-y: auto;
    padding-bottom: 16px;
    border-radius: 15px;
}

/* About Us page */
.about-container{
  margin: 50px 20% 38vh 20%;
}
.rice-tayler img{
  width: 300px;
  float: left;
  padding-right: 80px;
}
.am-tayler{
  font: 32px 'Outfit', sans-serif;
  margin-bottom: 58px;
}
.bio{
  font: 16px 'Outfit', sans-serif;
  font-weight: 300;
}

/* Contact Us page */
.info{
  margin: 10%;
}
.info p{
    padding: 16px;
    font: 32px 'Outfit', sans-serif;
    text-align: center;
}

/* stuff to show in mobile view */
@media only screen and (max-width: 600px) {
    /* things to hide in mobile */
    .home-container{
        display:none;
    }
    .nav-items{
        display:none;
    }
    .container{
      display: none;
    }
    .home-container{
      display: none;
    }
    .tmt-foot{
      display: none;
    }
    .container-big{
      display: none;
    }
    .rpg-item{
        display:none;
    }
    .left-grid-container{
      display: none;
    }
    .right-grid-container{
      display: none;
    } 
    .left-item{
        display: none;
    }
    .subheading{
        display: none;
    }
    /* end things to hide */
    .about-container img{
      width: 70%;
      height: auto;
      max-width: 70%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 24px;
    }
    .about-container p{
      padding: 16px;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
    /* background */
    .mobile-container{
      height: 100%;
      width: auto;
      position: fixed;
      display: inline;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      z-index: -1;
    }
    .mobile-container div{
      position: absolute;
      border-radius: 50%;
      animation: gradient 4s infinite;
    }
    @keyframes gradient{
      70%{
        transform: scale(1.2) translate(50px);
      }
    }
    .mobile-container div:nth-child(1){
      height: 80%;
      width: 80%;
      background-color: #1A1B41;
      left: -10%;
      top: -30%;
    }
    .mobile-container div:nth-child(2){
      height: 100%;
      width: 100%;
      background-color: #392636;
      top: -10%;
      right: -40%;
      animation-delay: 2s;
    }
    .mobile-container div:nth-child(5){
      height: 70%;
      width: 70%;
      background-color: #631D76;
      bottom: -20%;
      left: -12%;
      animation-delay: 1.2s;
    }
    .mobile-container div:nth-child(4){
      height: 70%;
      width: 80%;
      background-color: #0353A4;
      bottom: -20%;
      right: -20%;
      animation-delay: 0.3s;
    }
    .mobile-container div:nth-child(3){
      height: 80%;
      width: 70%;
      background-color: #21295C;
      top: 20%;
      left: -18%;
      animation-delay: 1.5s;
    }
    .mobile-container::after{
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      backdrop-filter: blur(150px);
    }
    /* end background */
    /* mobile navigation */
    .nav {
        display: inline;
    }
    .nav ul{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      list-style-type: none;
      padding: 0;
    }
    .nav li{
      padding: 2vh;
    }
    .nav li a {
      font-size: 24px;
      text-decoration: none;
    }
    /* end mobile navigation */
    .subheader{
      text-align: center;
      font-size: 32px;
      margin-top: -16px;
      padding-bottom: 36px;
      display: block;
    }
    /* products page */
    .highlight{
      background-color: hsla(0, 0%, 0%, .25);
      height: 40px;
      margin-left: -8px;
      margin-right: -8px;
      display: block;
    }
    .left{
      float: left;
      padding: 8px 16px;
    }
    .right{
      float: right;
      padding: 8px 16px;
    }
    #ropg{
      width: 100%;
      display: block;
    }
    .descrip{
      font-family: 'Outfit', sans-serif;
      padding: 8px 16px;
      display: inline-block;
    }
    .products-footer{
      display: block;
      width: 114px;
      margin-left: auto;
      margin-right: auto;
    }
    .button-top{
      text-align: center;
      background-color: HSLA(0, 0%, 0%, .10);
      padding: 8px 16px;
      border-radius: 12px;
      display: block;
      margin-top: 20px;
      margin-bottom: 12px;
    }
    .button-top a{
      font-family: 'Outfit', sans-serif;
      text-decoration: none;
    }
    .button-bottom{
        text-align: center;
        background-color: HSLA(0, 0%, 0%, .10);
        padding: 8px 16px;
        border-radius: 12px;
        display: block;
    }
    .button-bottom a{
        font-family: 'Outfit', sans-serif;
        text-decoration: none;
    }

    /* social media page */
    .embed-container{
        display: none;
    }
    .mobile-embed-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 520px;
        overflow-y: auto;
        border-radius: 12px;
    }

    /* about page */
    .about-container{
      margin: 0px 10%;
    }
    .rice-tayler img{
      transform: translateX(12%);
    }
    .am-tayler{
      clear: both;
      font: 32px 'Outfit', sans-serif;
      margin-bottom: 24px;
      text-align: center;
    }

    /* return buttons */
    .homebutton{
        background-color:HSLA(0, 0%, 0%, .10);
        display: block;
        width: 114px;
        padding: 8px 16px;
        margin-top: 32px;
        margin-bottom: 12px;
        border-radius: 12px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .homebutton a{
        text-decoration: none;
    }
  
    /* reviews page */
    .rcontainer{ /* review container */
      background-color: HSLA(0, 0%, 0%, .10);
      margin-left: -8px;
      margin-right: -8px;
    }
    .rcontainer-last{ /* review container */
      background-color: HSLA(0, 0%, 0%, .10);
      padding-bottom: 12px;
      margin-left: -8px;
      margin-right: -8px;
      margin-bottom: 30px;
    }
    .rtitle{ /* review title */
      float: left;
      padding: 8px 24px;
      font-family: 'Outfit', sans-serif;
      font-size: 20px;
      width: 50%;
    }
    .small{ /* review author */
      float: right;
      font-family: 'Outfit', sans-serif;
      font-size: 10px;
      font-weight: 100;
      padding: 16px 24px 12px;
    }
    .review{ /* the actual review */
      clear: both;
      padding: 8px 24px;
      font-family: 'Outfit', sans-serif;
      font-weight: 200;
    }
    .products-button{ /* products button */
      clear: left;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      transform: translateX(-10%);
      background-color:HSLA(0, 0%, 0%, .10);
      text-align: center;
      border-radius: 12px;
      padding: 8px 0px;
    }
    .products-button a{
      text-decoration: none;
    }
  }
